@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Unohdetun salasanan vahvistusviesti";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tarkista sähköpostisi uuden salasanan määrittämistä varten.
</p>
