@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Henkilökohtaiset tiedot";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tilisi sisältää meille antamaasi henkilökohtaisia tietoja. Tällä sivustolla voit poistaa tietosi.</p>
        <p>
            <strong>Tämän datan poistaminen poistaa tilisi peruuttamattomasti</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Poista</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
