@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-md-4">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<h2>Create a new account.</h2>
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

			<div class="form-floating mb-3">
				<input asp-for="Input.Etunimi" class="form-control" aria-required="true" placeholder="Etunimi" />
				<label asp-for="Input.Etunimi">Etunimi</label>
				<span asp-validation-for="Input.Etunimi" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Sukunimi" class="form-control" aria-required="true" placeholder="Sukunimi" />
				<label asp-for="Input.Sukunimi">Sukunimi</label>
				<span asp-validation-for="Input.Sukunimi" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Paikkakunta" class="form-control" aria-required="true" placeholder="Paikkakunta" />
				<label asp-for="Input.Paikkakunta">Paikkakunta</label>
				<span asp-validation-for="Input.Paikkakunta" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Esittely" class="form-control" aria-required="true" placeholder="Esittely" />
				<label asp-for="Input.Esittely">Esittely</label>
				<span asp-validation-for="Input.Esittely" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Kuva" class="form-control" aria-required="true" placeholder="Kuva" />
				<label asp-for="Input.Kuva">Kuva</label>
				<span asp-validation-for="Input.Kuva" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<label asp-for="Input.Email">Email</label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
				<label asp-for="Input.Password">Password</label>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
				<label asp-for="Input.ConfirmPassword">Confirm Password</label>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
		</form>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h3>Kuopion Kulkijat</h3>
			<hr />


			<div>
				Welcome to the Club!
			</div>


		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
