@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp

@if (d != null)
{
    <li>Destination: @d.Name</li>
    <li>Country: @d.Country</li>
    <li>Municipality: @d.Municipality</li>
}


@code {
    [Parameter]
    public int destinationId { get; set; }

    private Destination? d = null;


    protected override async Task OnInitializedAsync()
    {
        //Get destination by id
        d = await Http.GetFromJsonAsync<Destination>($"/api/destination/{destinationId}");
    }
}
