<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Kuopion Kulkijat</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>
<AuthorizeView>
	<Authorized>
		<div id="navmenu-auth" class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
			<nav class="flex-column">
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						<span class="oi oi-home" aria-hidden="true"></span> Home
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="destinations">
						<span class="oi oi-map" aria-hidden="true"></span> Destinations
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="grouptrips">
						<span class="oi oi-map" aria-hidden="true"></span> Group Trips
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="trips">
						<span class="oi oi-map-marker" aria-hidden="true"></span> My Trips
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="authentication/profile">
						<span class="oi oi-cog" aria-hidden="true"></span> My Information
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="travellerlist">
						<span class="oi oi-people" aria-hidden="true"></span> Travellers
					</NavLink>
				</div>
			</nav>
		</div>
	</Authorized>
	<NotAuthorized>
		<div id="navmenu-public" class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
			<nav class="flex-column">
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						<span class="oi oi-home" aria-hidden="true"></span> Home
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="destinations">
						<span class="oi oi-map" aria-hidden="true"></span> Destinations
					</NavLink>
				</div>
			</nav>
		</div>
	</NotAuthorized>
</AuthorizeView>


@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
