.left {
    float: left;
    width: 78%;
    border-radius: 10px;
    padding: 5px;
}

.list-item {
    border-style: double;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #3b3a3a;
}
