@using MatkakertomusGroupB.Client.Pages;
@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp
@inject NavigationManager nav


<div>
	<div class="addHeader">
		<h4>Add new trip</h4>
	</div>
	<div class="addDetails">
		<NewTrip>
			<EditForm Model="@tDTO" OnValidSubmit="@Save">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<label>Start date:</label>
				<br />
				<InputDate @bind-Value="tDTO.DatumStart" onchange="@DateCheck()" />
				<br /> <br />
				<label>End date:</label>
				<br />
				<InputDate @bind-Value="tDTO.DatumEnd" onchange="@DateCheck()"/>
				<br /> <br />
				<label>Check box for private trip: </label>
				<InputCheckbox @bind-Value="tDTO.Private" />
				<br /><br />
				@if (!DateCheck())
				{
					<p>Check the dates!</p>
				}
				else
				{
					<button type="submit" class="btn btn-success">Add trip</button>
				}
			</EditForm>
		</NewTrip>
	</div>
	<br />
	@if (added)
	{
		<div class="alert alert-success fade-in" role="alert">
			A new trip was created successfully!
		</div>
	}
	@if (failed)
	{
		<div class="alert alert-danger fade-in" role="alert">
			There was a problem creating a new trip.
		</div>
	}
</div>

@code {
	[Parameter]
	public string? UserId { get; set; }
	[CascadingParameter]
	public OwnTrips? _Parent { get; set; }

	public TripDTO tDTO = new TripDTO();
	public bool added = false;
	public bool failed = false;

	async Task Save()
	{
		// reset error message
		added = failed = false;

		tDTO.TravellerId = UserId;
		//post a new trip
		var res = await Http.PostAsJsonAsync<TripDTO>($"/api/trip", tDTO);
		if (res.IsSuccessStatusCode)
		{
			added = true;
			_Parent.RefreshState();
			Console.WriteLine(res);
		}
		else
		{
			failed = true;
			Console.WriteLine(res);
		}
	}

	// check that the dates are input correctly to show or hide add button
	bool DateCheck()
	{
		if (tDTO.DatumEnd != null && tDTO.DatumStart != null)
		{
			if (tDTO.DatumEnd >= tDTO.DatumStart) return true;
			else return false;
		}
		else return false;
	}
}
