@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp

<p role="status">Current picture count: @pictures</p>

@if (list != null)
{
    @if (list.Count > 0)
    {
        <button class="btn btn-success" @onclick=@ShowPictures>Show or hide story pictures</button>
        <br/>
        @if (showPictures)
        {
            @foreach (Picture p in list)
            {
                <br />
                <PictureItem Picture="@p">
                    <img src="data:image/png;base64,@p.Image" style="max-width:90%" />
                </PictureItem>
                <br />
            }
        }
    }
}

@code {
    [Parameter]
    public int? storyId { get; set; }

    private bool showPictures = false;
    private int pictures = 0;
    private List<Picture>? list = null;

    protected override async Task OnInitializedAsync()
    {
        //Get list of pictures for a story
        list = await Http.GetFromJsonAsync<List<Picture>>($"/api/picture/story/{storyId}");
        if (list != null) pictures = list.Count;
    }

    void ShowPictures()
    {
        if (!showPictures) showPictures = true;
        else showPictures = false;
    }
}