@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp

<p role="status">Current picture count: @pictures</p>

@if (list != null)
{
    <ul>
        @foreach (Picture p in list)
        {
            <li>
                <PictureItem Picture="@p">
                    <img src="data:image/png;base64,@p.Image" style="max-width:90%"/>
                </PictureItem>
            </li>
            <br />
        }
    </ul>
}

@code {
    [Parameter]
    public int storyId { get; set; }

    private int pictures = 0;
    private List<Picture>? list = null;

    protected override async Task OnInitializedAsync()
    {
        //Get list of pictures for a story
        list = await Http.GetFromJsonAsync<List<Picture>>($"/api/picture/story/{storyId}");
        if (list != null) pictures = list.Count;
    }
}