@page "/upload"
@using System.Net.Http.Headers
@using MatkakertomusGroupB.Shared.Models;
@using System.IO;
@inject HttpClient Http


<PageTitle>Upload pictures to your story</PageTitle>

<h4>Choose max 3 pictures to add to your story.</h4>
<p>You can add pictures multiple times.</p>

<!--This is how you upload multiple files-->
<InputFile OnChange="HandleFileSelection" multiple />
<button @onclick="SaveImages" class="btn btn-success">Add images</button>

<!--This is just for testing (or confirmation) purposes, it shows you the uploaded filenames and stored filenames-->
@if (fileNames.Count > 0)
{
    <ul>
        @foreach (var fileName in fileNames)
        {
            <li>
                File: @fileName
                <br>
                <span>
                    Stored File Name: @GetStoredFileName(fileName)
                </span>
            </li>
        }
    </ul>
}

@code {
    private int maxAllowedFiles = 3;
    private long maxFileSize = 1024 * 1024 * 8; // 8Mt
    private List<string> fileNames = new();
    private List<UploadResult> uploadResults = new();
    IFileListEntry file = null;

    // Function that creates a streamcontent that uploads the files
    public async Task HandleFileSelection(IFileListEntry[] images)
    {
        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            using (var ms = new MemoryStream())
            {
                await file.CopyToAsync(ms)
            }
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);
            content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: file.Name);
        }

        var response = await Http.PostAsync("api/File", content);
        var newUploadResults = await response.Content.ReadFromJsonAsync<List<UploadResult>>();

        if (newUploadResults is not null)
        {
            uploadResults = uploadResults.Concat(newUploadResults).ToList();
        }
    }


    // Function that will provide the safe storagename for the original filename and return it
    // This is for testing purposes and the storagename should not be shown to client.
    private string? GetStoredFileName(string fileName)
    {
        var uploadResult = uploadResults.SingleOrDefault(f => f.FileName == fileName);

        if (uploadResult is not null)
        {
            return uploadResult.StoredFileName;
        }

        return "File not found.";
    }
}
