@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp

<br />
<h6>Current story count: @stories</h6>

@if (list != null)
{
    @foreach (Story s in list)
    {
        <StoryItem Story="@s">
            <ul>
                <li>Date: @s.Datum</li>
                <DestinationInfo destinationId=@s.DestinationId />
                <li>Story: @s.Description</li>
                <StoryPictureList storyId=@s.StoryId />
            </ul>
        </StoryItem>
    }
} 

@code {
    [Parameter]
    public int? tripId { get; set; }

    private int stories = 0;
    private List<Story>? list = null;


    protected override async Task OnInitializedAsync()
    {
        //Get list stories for a Trip
        list = await Http.GetFromJsonAsync<List<Story>>($"/api/story/trip/{tripId}");
        if (list != null) stories = list.Count;
    }
}
