@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>KUOPION KULKIJAT - LET'S KEEP GOING!</h2>
    <div>We've kept the ball rolling since 1917!</div>
</div>
