@page "/trips"
@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp
@inject ILogger<Destinations> logger

<PageTitle>My trips</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>My trips</h1>
        <div id="owntrips-razor" class="left">
            @if (userId != null)
            {
                <OwnTripList UserId=@userId />
            }
        </div>
        <div class="right">
            <OwnTripAdd UserId="@userId" RefreshParent="@RefreshList" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div>You are a public user.</div>
    </NotAuthorized>
</AuthorizeView>

@code {

    public UserDTO? userNickDTO = new UserDTO();
    public string? nickname = null;

    public string? name = null;
    public string? userId = null;


    private async Task GetData()
    {

        //Assing name to variable for future operations
        var authState = await asp.GetAuthenticationStateAsync();
        name = authState.User.Identity.Name;
        userNickDTO.Username = name;

        //Fetch user data from API via POST operation
        var response = await Http.PostAsJsonAsync<UserDTO>($"/api/traveller/nick", userNickDTO);

        //Parse user data from API
        userNickDTO = await response.Content.ReadFromJsonAsync<UserDTO>();
        nickname = userNickDTO.Nickname;

        if (name != null)
        {
            //Fetch user data from API via POST operation
            var res = await Http.PostAsJsonAsync<UserDTO>($"/api/traveller/id", new UserDTO(name));
            //Parse user data from API
            var userDTO = await res.Content.ReadFromJsonAsync<UserDTO>();
            userId = userDTO.Id;
        }
    }

    public async void RefreshList()
    {
        await GetData();

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
}
