::deep .right {
    float: right;
    width: 20%;
    background-color: #3b3a3a;
    border-radius: 10px;
    padding: 20px;
}

.addHeader {
    background-color: dimgrey;
    border-radius: 10px;
    text-align: center;
}
