.left {
    float: left;
    width: 58%;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.right {
    float: right;
    width: 40%;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.addHeader {
    background-color: dimgrey;
    border-radius: 10px;
    text-align: center;
}
